*, :before, :after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    border: solid yellow 5px;
    height: 100vh;
}

#container{
    position: absolute;
    border: solid blue 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#keypad-container{
    list-style: none;
    border: solid green 3px;
    display: grid;
    
    font-size: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

#keypad-container li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid black 1px;
}